.title-container {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.credit-count {
  margin-bottom: 0px;
  padding: 0px;
}

.number-credits {
  color: #5c5c5c
}

.selected-item {
  margin-bottom: 10px;
  padding: 5px;
  background: #eee;
  border-radius: 8px;
}

.delete {
  font-size: 20px;
  color: #505050
}

.mat-button-toggle-checked {
    background: #333;
    color: #fff;
}

mat-button-toggle-group {
  border: none;
}

.section-toggle-group {
  overflow: scroll;
  height:60px;
}

.section-toggle-group::-webkit-scrollbar { width: 0 !important }
.section-toggle-group { overflow: -moz-scrollbars-none; }
.section-toggle-group { -ms-overflow-style: none; }