<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <h6>Selected:</h6>
        <div *ngIf="selected.length != 0 && selected[0] != ''">
          <mat-list>
            <mat-list-item *ngFor="let course of selected">
              <h4 mat-line>{{course}}</h4>
              <i class="material-icons" mat-list-icon>class</i>
              <p mat-line> {{courses[course][0].credits}} credits</p>
              <div mat-line>
                <mat-button-toggle-group #group="matButtonToggleGroup">
                  <mat-button-toggle *ngFor="let section of courses[course]" [value]="section"
                    (selectionChange)="sectionSelected($event)">
                    {{getSection(section.section)}}
                  </mat-button-toggle>
                </mat-button-toggle-group>
                <div mat-line *ngIf="group.value">Selected: {{group.value.callNumber | json}}</div>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
</div>