<div class="calendar-container">
    <div class="time-container">
        <div *ngFor="let time of times" class="hour">
            <p>{{time}}:00</p>
        </div>
    </div>
    <div class="weekdays-container">
        <div *ngFor="let day of weekDays" class="weekday">
            <div class="weekday-header">
                <p>{{day}}</p>
            </div>
            <div class="hours">
                <div *ngFor="let time of times" class="hour">
                    <div *ngFor="let x of [1,2,3,4]" class="hour-cell bkg-dark-grey"></div>
                </div>
            </div>
        </div>
    </div>
</div>