<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Upload Your Study Plan</h4>
            <p class="card-category">Upload your study plan to view future courses and download an updated version when
              you create a schedule.
            </p>
          </div>
          <div class="card-body">
            <h4>
              Page Under Construction
            </h4>
            <p>Get more information <a href="https://www.stevens.edu/directory/office-registrar/study-planac">here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>