<div class="card">

  <div class="card-header card-header-primary">
    <h4 class="card-title">Courses</h4>
  </div>

  <div class="card-body">

    <!-- Term Selector -->
    <div *ngIf="api.terms$ | async as terms; else loadingTerms">
      <mat-form-field>
        <mat-label>Term</mat-label>
        <mat-select [(value)]="selectedTerm" (selectionChange)="termChanged($event)">
          <mat-option *ngFor="let term of terms" [value]="term">
            {{term}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <ng-template #loadingTerms>
      <div class="center">
        <p>Loading terms...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </ng-template>

    <!-- Course Search -->
    <div *ngIf="api.courses$ | async as courses; else loadingCourses">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Search for a course" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
              (onSelectionChange)="selectCourse(option)">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <ng-template #loadingCourses>
      <div class="center">
        <p>Loading courses...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </ng-template>

  </div>

</div>