// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              #A32638 !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              #A32638 !default;
$brand-warning:              #A32638 !default;
$brand-danger:               #A32638 !default;
$brand-rose:                 #A32638 !default;
$brand-inverse:              $black-color !default;
