$primary: #7f0112;
$light-grey: #ddd;
$grey: #999;
$charcoal: #333;

$black: #111;
$white: #eee;

$theme-colors: (
    "primary": $primary,
    "light-grey": $light-grey,
    "grey": $grey,
    "dark-grey": $charcoal,
    "black": $black,
    "white": $white,
);
