.header-container {
    align-content: center;
    text-align: center;
    // background: #444;
    color: #333;
    border-radius: 5px 5px 0px 0px;
}

.inner-block {
    border: solid #fff 1px;
    border-radius: 3px;
    background: #eee;
    height: 15px;
}
