<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Connect to Canvas</h4>
            <p class="card-category">Preload your coursework and ensure you have the correct prerequisites.
            </p>
          </div>
          <div class="card-body">
            <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="email" type="email" placeholder="Email address" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="password" type="password" placeholder="Password" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 float-right">
                  <button mat-raised-button class="btn btn-primary btn-sm" type="submit">Sign
                    In</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>