.internal-grid{
    min-width:100%;
}

.full-block {
    // border: solid #333 2px;
    height:60px;
}

.inner-block {
    border: solid #fff 1px;
    border-radius: 3px;
    background: #eee;
    height: 15px;
}

.header-container {
    align-content: center;
    text-align: center;
}

.header {
    height: 5px;
    margin-bottom: 20px
}

.hour {
    padding: 4px;
}

.hour-block {
   background: #d3d3d3;
   border: solid #fff 1px;
   border-radius: 5px 0px 0px 5px;
}

.spacer {
    margin-bottom: 20px;
}

.course-section {
    position: absolute;
    background: red;
}