<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-12">
            <app-schedule-stats></app-schedule-stats>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <div class="row header spacer"></div>
            <div *ngFor="let hour of hours" class="row full-block hour-block">
              <h6 class="hour">{{hour}}</h6>
            </div>
          </div>
          <div class="col-11">
            <div class="row days-container">
              <app-day-column #col *ngFor="let day of days" [day]="day"></app-day-column>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>