<div class="card">
  <div class="card-body">

    <!-- <div class="row">
      <div class="col-12">
        <button matButton (click)="test()">test</button>
      </div>
    </div> -->

    <!-- <div class="row">
      <div class="col-2" style="height:10px">
        <div *ngFor="let hour of hours" class="col-2" style="height: 60px"></div>
      
      </div>
      <div *ngFor="let day of days"class="col-2"></div>
    </div>

    <div class="row">
      <div *ngFor="let day of days" class="col-2" style="height:10px">
        <h6>{{day}}</h6>
      </div>
    </div> -->

    <div class="row">
      <div class="col">
        <mat-grid-list cols="11" rowHeight="15px">
          <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
            [style.background]="tile.color">
            <div *ngIf="tile.text === 'main'; else notMain" class="internal-grid">
              <!-- <div class="row">
                <div *ngFor="let day of days" class="col-2">
                  <div *ngFor="let hour of hours" class="row outer-block">
                    <div *ngFor="let block of [0, 15, 30, 45]" class="col-12 inner-block"></div>
                  </div>
                </div>
              </div> -->
              <!-- <div *ngFor="let day of days">
                <mat-grid-list cols="1" rowHeight="15px">
                  <mat-grid-tile *ngFor="let time of daysGrid[day]['times']" [colspan]="1" [rowspan]="1"
                    [style.background]="'#eee'" [innerHTML]="time">

                  </mat-grid-tile>
                </mat-grid-list>
              </div> -->
              <mat-grid-list cols="5" rowHeight="15px">
                <mat-grid-tile *ngFor="let gridTile of mainGrid" [colspan]="1" [rowspan]="1"
                  [style.background]="'#eee'">
                </mat-grid-tile>
              </mat-grid-list>
            </div>
            <ng-template #notMain>
              {{tile.text}}
            </ng-template>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

  </div>


</div>

<!-- <div class="card">
  <div class="card-body">

    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            [excludeDays]="excludeDays">
            Previous
          </div>
          <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
            Today
          </div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            [excludeDays]="excludeDays">
            Next
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>
          {{ viewDate | calendarDate:(view +
      'ViewTitle'):'en':weekStartsOn:excludeDays }}
        </h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">
            Month
          </div>
          <div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">
            Week
          </div>
          <div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">
            Day
          </div>
        </div>
      </div>
    </div>
    <br />

    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
        [excludeDays]="excludeDays">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="'week'" [excludeDays]="excludeDays" [viewDate]="viewDate"
        [events]="events">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events">
      </mwl-calendar-day-view>
    </div>
  </div>
</div> -->