.content {
    align-content: center;
    padding: 25px;
    overflow: scroll;
    flex-wrap: nowrap;
}

.content::-webkit-scrollbar { width: 0 !important }
.content { overflow: -moz-scrollbars-none; }
.content { -ms-overflow-style: none; }

.container {
    padding: 10px;
}

.days-container {
    flex-wrap: nowrap;
}

.full-block {
    height:60px;
}

.header {
    height: 5px;
    margin-bottom: 20px
}

.hour {
    padding: 4px;
}

.hour-block {
   background: #d3d3d3;
   border: solid #fff 1px;
   border-radius: 7px 0px 0px 7px;
}

.spacer {
    margin-bottom: 20px;
}

