.course-section {
    position: absolute;
    max-width: 100%;
    z-index: 100;
    margin: 0px;
    padding: 10px;
    background: #a32638;
    color: #fff
}

.course-name {
    bottom: 5px;
  color: #eee;
  display: block;
  font-weight: 800;
  font-size: 12px;
  line-height: 12px;
}